html {
  /*lägg till ett typsnitt*/
}
body {
  margin: 0%;
}
main {
  display: flex;
  flex-direction: column;
}
section {
  width: 100%;
  text-align: center;
}
footer {
  background-color: rgb(35, 58, 70);
  height: 100px;
}
