html {
  font-family: sans-serif;
}
body {
  margin: 0%;
}
main {
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: white;
}
p a {
  text-decoration: underline;
}
article {
  width: 100%;
  text-align: center;
}
footer {
  background-color: rgb(35, 58, 70);
  width: 100%;
  height: fit-content;
  text-align: center;
}
footer p {
  margin: 0%;
  padding: 1rem;
  color: white;
}
