.loginContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  height: 380px;
  width: 400px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: var(--secondary-text-color);
  background-color: var(--secondary-color);
}
.loginContainer p {
  margin: 10px;
  color: red;
}
#closebtn {
  position: absolute;
  top: 35px;
  right: 45px;
  width: 25px;
  height: 25px;
  background: grey;
  color: white;
  line-height: 25px;
  border-radius: 15px;
  cursor: pointer;
}
#log-h1 {
  color: black;
  margin-bottom: 25px;
  font-size: 250%;
}
.login-windows {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.login-window {
  padding: 8px;
  width: 300px;
  height: 25px;
  text-indent: 50px;
}
.login-window:last-of-type {
  margin-top: 20px;
}
.btn-row {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: auto;
}
.btn-row > div {
  margin-top: 25px;
}
.btn {
  width: 180px;
  color: white;
  background: linear-gradient(90deg, rgb(0, 68, 255) 0%, rgb(0, 162, 255) 100%);
  padding: 15px 45px;
  font-size: 75%;
  font-weight: 900;
  cursor: pointer;
  transition-duration: 0.5s;
  border-radius: 10px;
}
.btn:hover {
  color: rgb(0, 255, 255);
  transform: scaleX(0.9) scaleY(0.9);
}
.hidden {
  display: none;
}
