.loginContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 400px;
  display: none;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: var(--secondary-text-color);
  background: var(--secondary-color);
}
.loginContainer p {
  margin-top: -10px;
  color: red;
}
.login-windows {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.login-window {
  padding: 15px;
  width: 310px;
}
.login-window:last-of-type {
  margin-top: 20px;
}
.btn-row {
  display: flex;
  flex-direction: row;
  width: fit-content;
}
.btn-row > div {
  margin-top: 20px;
}
.btn-row > div:first-of-type {
  margin-right: 15px;
}
.btn {
  width: fit-content;
  color: white;
  background: linear-gradient(90deg, rgb(10, 50, 150) 0%, rgba(199, 0, 255, 0.84) 100%);
  padding: 15px 45px;
  font-size: 75%;
  font-weight: 900;
  cursor: pointer;
  transition-duration: 0.5s;
  border-radius: 10px;
}
.btn:hover {
  color: rgb(0, 255, 255);
  transform: scaleX(0.9) scaleY(0.9);
}
.error-msg {
  display: none;
}
#closebtn {
  position: absolute;
  top: 35px;
  right: 45px;
  width: 25px;
  height: 25px;
  background: grey;
  color: white;
  line-height: 25px;
  border-radius: 15px;
  cursor: pointer;
}
#create-btn {
  display: none;
  width: 280px;
  margin-left: 1%;
}
#h1-sign-up {
  display: none;
}
#log-in {
  display: block;
}
#log-out {
  display: none;
}
#error-msg-create {
  width: 300px;
}
