.navbar {
  position: fixed;
  background: rgb(35, 58, 70);
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100%;
  font-weight: bold;
  font-size: 20;
}
.navbar-site-name {
  display: flex;
}
.navbar-site-name > a {
  color: white;
  text-decoration: none;
  margin: auto;
  margin-left: 150px;
  font-size: 140%;
}
.navbar-links {
  margin-left: auto;
  margin-right: 150px;
  display: flex;
  flex-direction: row;
  font-size: 125%;
}
.navbar-links > a {
  padding: 12px;
  min-width: fit-content;
  margin: auto;
  color: white;
  text-decoration: none;
}
.navbar-links > a:hover {
  background-color: rgb(17, 88, 160);
  border-radius: 10px;
}
.subbar {
  position: fixed;
  margin-top: 80px;
  background: rgb(17, 88, 160);
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  font-weight: bold;
  font-size: 15;
}
.subbar-links {
  margin-left: auto;
  margin-right: 120px;
  display: flex;
  flex-direction: row;
  font-size: 125%;
}
.subbar-links > a {
  padding: 14px;
  min-width: fit-content;
  margin: auto;
  color: white;
  text-decoration: none;
}
.subbar-links > a:hover {
  background-color: rgb(35, 58, 70);
}
