.home-banner {
  height: 600px;
  margin-top: 80px;
  font-size: 50px;
}
.home-banner > p {
  margin: auto;
  margin-top: 60px;
  width: 1200px;
}
.workout {
  display: flex;
  flex-direction: row;
  background-color: rgb(22, 55, 87);
  height: 700px;
  color: antiquewhite;
  font-size: 25px;
  width: 1200px;
  margin: auto;
  padding: 30px;
  padding-bottom: 60px;
}
.work-row-1 {
  width: 50%;
  background-image: url("../img/gym.jpg"); /*Change image*/
  background-size: cover;
}
.work-row-2 {
  padding: 20px;
  width: 50%;
}
.food {
  display: flex;
  flex-direction: row;
  height: 700px;
  font-size: 25px;
  width: 1200px;
  margin: auto;
  padding: 30px;
  padding-top: 60px;
}
.food-row-1 {
  padding: 20px;
  width: 50%;
}
.food-row-2 {
  width: 50%;
  background-image: url("../img/food.jpg"); /*Change image*/
  background-size: cover;
}
.logbook {
  color: black;
}
.info {
  background-color: rgb(22, 55, 87);
  color: antiquewhite;
  height: 300px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.info-row-1 {
  width: 600px;
  padding: 15px;
}
.info-row-2 {
  width: 600px;
  padding: 15px;
}
