.home-banner {
  height: 800px;
  background-image: url("../img/gym.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.home-banner > p {
  margin-top: 200px;
  width: 900px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  color: antiquewhite;
  font-size: 50px;
}
.workout {
  background-color: rgb(22, 55, 87);
  height: 600px;
  color: antiquewhite;
  font-size: 25px;
}
.workout > p {
  width: 1000px;
  margin: auto;
}
.food {
  display: flex;
  flex-direction: row;
  margin: auto;
  height: 700px;
  font-size: 25px;
}
.food-row-1 {
  padding: 20px;
  width: 50%;
  margin-right: 80px;
}
.food-row-2 {
  width: 50%;
  background-image: url("../img/food.jpg"); /*Change image*/
  background-size: cover;
}
.logbook {
  color: black;
}
.info {
  background-color: rgb(22, 55, 87);
  color: antiquewhite;
  height: 300px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.info-row-1 {
  width: 600px;
  padding: 15px;
}
.info-row-2 {
  width: 600px;
  padding: 15px;
}
