@media screen and (max-width: 949px) {
  /* remove redundancies */
  .table-holder {
    width: 100%;
    margin-top: 1rem;
  }
  .table-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 95%;
    zoom: 85%;
  }
  table {
    height: fit-content;
    background-color: var(--light-color);
    border-collapse: collapse;
  }
  .col-1 {
    width: 45%;
  }
  .col-2 {
    width: 25%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 5%;
  }
  thead {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    font-size: 1.2rem;
  }
  td {
    padding: 0.4rem 0.8rem;
  }
  tbody {
    padding: 0.4rem 0.4rem;
  }
  tfoot {
    height: 2rem;
    font-size: 1.2rem;
  }
  .edit {
    color: var(--edit-color);
  }
  .add-set {
    color: var(--secondary-edit-color);
  }
  .buttons {
    display: flex;
    margin: auto;
    margin-top: 2rem;
  }
  button:last-child {
    margin-left: 4rem;
  }
  button {
    width: 10rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    color: var(--secondary-text-color);
    background-color: var(--btn-dark-color);
  }
  button:hover {
    background-color: var(--btn-light-color);
  }
}

@media screen and (min-width: 950px) and (max-width: 1279px) {
  .table-holder {
    width: 90%;
    margin-top: 3rem;
  }
  .table-container {
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  table {
    margin: auto;
    min-width: 700px;
    height: fit-content;
    background-color: var(--light-color);
    border-collapse: collapse;
  }
  .col-1 {
    width: 45%;
  }
  .col-2 {
    width: 25%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 5%;
  }
  thead {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    font-size: 1.3rem;
  }
  td {
    padding: 0.4rem 0.8rem;
  }
  tbody {
    padding: 0.4rem 0.4rem;
  }
  tfoot {
    height: 3rem;
    font-size: 1.2rem;
  }
  .edit {
    color: var(--edit-color);
  }
  .add-set {
    color: var(--secondary-edit-color);
  }
  .buttons {
    display: flex;
    flex-direction: column;
    margin-left: 2.5rem;
  }
  button:last-child {
    margin-top: 1.8rem;
  }
  button {
    width: 10rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    color: var(--secondary-text-color);
    background-color: var(--btn-dark-color);
  }
  button:hover {
    background-color: var(--btn-light-color);
  }
}

@media screen and (min-width: 1280px) {
  .table-holder {
    width: 1000px;
    margin: auto;
    margin-top: 50px;
  }
  .table-container {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  table {
    width: 600px;
    height: fit-content;
    background-color: var(--light-color);
    border-collapse: collapse;
  }
  .col-1 {
    width: 45%;
  }
  .col-2 {
    width: 25%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 5%;
  }
  thead {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    font-size: 20;
  }
  td {
    padding: 5px 10px;
  }
  tbody {
    padding: 5px 5px;
  }
  tfoot {
    height: 45px;
    font-size: 15;
    font-size: 20;
  }
  .edit {
    color: var(--edit-color);
  }
  .add-set {
    color: var(--secondary-edit-color);
  }
  .buttons {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 100px;
    margin-left: 100px;
  }
  button:last-child {
    margin-top: 20px;
  }
  button {
    width: 150px;
    height: 35px;
    border-radius: 10px;
    color: var(--secondary-text-color);
    background-color: var(--btn-dark-color);
  }
  button:hover {
    background-color: var(--btn-light-color);
  }
}
